.collage {
    display: grid;
    grid-template-rows: 19% 27% 28% 26%;
    grid-template-columns: 16% 22% 23% 20% 19%;
    left: 0px;
    right: 0px;
    min-height: 500px;

    grid-column-start: 2;
    grid-column-end: 4;
}