.collageItem {
    left: 12.48%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    font-size: 1vw;

    margin-top: .5em;
    height: 7em;
    width: 7em;
}

.title {
    font-size: 1.2vw;
}

.author {
    font-size: .8vw;
}