.collageItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    min-width: 5em;
    min-height: 5em;
    width: 15vw;
    height: 15vw;
    margin: min(1vw, 1vh);

    
}

.image {
    font-size: 1vw;

    margin-top: 1vw;
    height: 10vw;
    width: 10vw;
}

.bookTitle {
    font-size: 2vw;
}

.bookAuthor {
    font-size: 2vw;
}