.mosaic {
    grid-row-start: 2;
    grid-row-end: 3;

    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelfRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons {
    display: block;
    align-items: center;
}