.collageItem {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 8em rgba(0, 0, 0, 0.5) inset,
                0px 0px 8em rgba(0, 0, 0, .8);
    align-self: stretch;
}

.image {
    font-size: 1vw;
}

.title {
    font-size: 1.2vw;
}

.author {
    font-size: .8vw;
}