.App-header {
    position: absolute;
    width: 100vw;

    background-color: #24305e;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
  }

  .App-header-text {
    display: inline-block;
  }

  .App-logo {
    height: 10vmin;
    display: inline-block;
    pointer-events: none;
  }