.App-header {
    position: relative;
    top: 0;
    width: 100vw;
    height: 10vw;

    font-size: calc(10px + 2vmin);
    color: #ffffff;
    background-color:#29648A;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-shadow: 0px -2em 8em rgba(0, 0, 0, 0.4) inset;
  }

  .App-header-text {
    display: inline-block;
  }

  .App-logo {
    height: 10vmin;
    display: inline-block;
    pointer-events: none;
  }