<svg width="201" height="206"><g>
    <rect fill="none" id="canvas_background" height="208" width="203" y="-1" x="-1"/>
    <rect stroke="#000" rx="20" id="svg_14" height="187.000013" width="178.000028"
        y="-0.000008" x="22.999985" stroke-width="0" fill="#f76c6c"/>
    <rect stroke="#000" rx="20" id="svg_7" height="187.000013" width="178.000028"
        y="18.999992" x="-0.000015" stroke-width="0" fill="#ffffff"/>
    <rect stroke="#000" id="svg_1" height="150" width="35"
        y="39.749994" x="124.000012" stroke-width="0" fill="#f8e9a1"/>
    <rect stroke="#000" id="svg_3" height="150" width="35"
        y="39.749994" x="89.000012" stroke-width="0" fill="#f76c6c"/>
    <rect stroke="#000" id="svg_4" height="150" width="35"
        y="39.749994" x="19.000012" stroke-width="0" fill="#a8d0e6"/>
    <rect stroke="#000" id="svg_6" height="150" width="35"
        y="39.749993" x="54.000012" stroke-width="0" fill="#374785"/>
    <rect stroke="#000" id="svg_8" height="150" width="15"
        y="39.749994" x="134.000012" stroke-width="0" fill="#ffffff"/>
    <rect stroke="#000" id="svg_9" height="150" width="15"
        y="39.749994" x="99.500012" stroke-width="0" fill="#ffffff"/>
    <rect stroke="#000" id="svg_10" height="150" width="15"
        y="39.749994" x="64.500012" stroke-width="0" fill="#ffffff"/>
    <rect stroke="#000" id="svg_11" height="150" width="15"
        y="39.749994" x="29.500012" stroke-width="0" fill="#ffffff"/>
</g></svg>