.parallaxHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.parallaxImage{
    height: 100%;
    width: 100%;
}  

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: rgba(34,34,34,0.60);
    backdrop-filter: blur(3px);

    position: absolute;
    left: auto;
    top: auto;
    padding: 2%;
}

.childElem {
    margin: 1vw;
    font-size: 4vw;
    color: white;
}

.appLogo {
    width: 5vw;
    height: auto;
}