:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(10px + 1vmin);
  background-color: #25274D;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 8vmin;
}

h2 {
  font-size: 7vmin;
}

h3 {
  font-size: 6vmin;
}

h4 {
  font-size: 5vmin;
}

h5 {
  font-size: 4vmin;
}

h5 {
  font-size: 3vmin;
}

h6 {
  font-size: 2vmin;
}